@import "../asset/Fonts/font.css";

.albumList{    
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: 20px;
    height: 50%;
    overflow: auto;
}
.container{
    width: 100%;
    background-color: #1f1f1f;
    position: absolute;
}
.album {
    width: 300px;
    min-height: 400px;
    transition: ease-in-out .3s;
    margin: 12px;
    background: #252525;    
}

.album:hover {
    box-shadow: 0 0px 18px 0 #000000ab;
}


.albumName {
    margin: 10px;
    font-size: 18px;
    font-family: Kiona-Regular;
    font-weight: 200;
    color: #ffee00;
    text-transform: uppercase;
}
.albumReleseDate { 
      
    font-family: Comfortaa-Regular;
    font-size: 13px;
    color: #adadad;
    padding: 10px;
}
.albumImage {   
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.linkViewTracks {
    transition: ease-in-out .3s;
    cursor: pointer;
    font-family: Comfortaa-Regular;;
    border: 0px;
    font-size: 13px;
    margin:10px;
    padding: 7px 50px;
    background-color: #333333;
    color: #839da5;
   
}

.linkViewTracks:hover {
    color: #5cdeff;
    background-color: #3f3f3f;
}