.tracklayout {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #121212;
}

.right {
    background-color:#37f0e0;
    float:right;
    height: 100%;
    text-align:center;
}

.btnClose {
    color: #11a094;
    transition: ease-in-out .3s;
    margin: 10px;
    font-family: corbel;
    background-color: transparent;
    border: 0px;
    font-size: 30px;
}

.btnClose:hover {
    color: #000000;
}

.profieContainer {
    float: left;    
    height: 100%;
    text-align:center;
    background-color: #232323;
}
.profieContainer> div{   
    margin: 20px;
    display:block;
    color:black;
    
}
.image{
    margin: 8px;
    object-fit: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.t1 {
    color: #d2d2d2;    
    font-size: 14px;
}

.t2 {
    color: #16f0cb;
    font-family: Kiona-Regular;
    font-size: 18px;
}
.t3{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
    font-family: Kiona-Regular;
    color: #90f807;
    font-size: 18px;
}
.trackContainer{
    display: inline;
    text-align: center;
    padding:0 20px;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .profieContainer{
    text-align: center;
      display: flex;
      height: 200px;
      float: none; 
      
    }
    .profieContainer> div{       
         margin: 30px 14px;       
        }
  }